* text=auto

/.git export-ignore
/.github export-ignore
/bin export-ignore
/.cache export-ignore
/node_modules export-ignore
/tests export-ignore
RELEASE.md export-ignore
phpunit.xml.dist export-ignore
phpunit-multisite.xml.dist export-ignore
phpcs.xml.dist export-ignore
phpstan.neon.dist export-ignore
package.json export-ignore
package-lock.json export-ignore
.wp-env.json export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.distignore export-ignore
.editorconfig export-ignore
.nvmrc export-ignore
