parameters:
	ignoreErrors:
		-
			message: '#^Class FAIR\\Updater\\Updater does not have a constructor and must be instantiated without any parameters\.$#'
			identifier: new.noConstructor
			count: 1
			path: ../inc/packages/admin/namespace.php
