name: PHP coding standards

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Lint PHP
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup cache
        uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('composer.json') }} # Note that lock file will change between runs.
          path: .cache

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Start the development environment
        run: npm run env start

      - name: Install Composer dependencies
        run: npm run test:php:install-deps

      - name: Lint PHPCS
        # TODO: Remove the flag once all warnings are fixed.
        run: npm run lint:php:phpcs -- -- -- --warning-severity=0

      - name: Run PHPStan
        run: npm run lint:php:phpstan
