name: PHP coding standards

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for pull requests
  # or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

# Disable permissions for all available scopes by default.
# Any needed permissions should be configured at the job level.
permissions: {}

jobs:
  lint:
    name: Run coding standards checks
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup cache
        uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('composer.json') }} # Note that lock file will change between runs.
          path: .cache

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Start the development environment
        run: npm run env start

      - name: Install Composer dependencies
        run: npm run test:php:install-deps

      - name: Lint PHPCS
        # TODO: Remove the flag once all warnings are fixed.
        run: npm run lint:php:phpcs -- -- -- --warning-severity=0

      - name: Run PHPStan
        run: npm run lint:php:phpstan
